
*{
	margin: 0;
	/* box-shadow: 0 0 0 3px #62f495 inset; */
}

	html
	{
		scroll-behavior: smooth;
		scroll-padding-top: 15vh;
	}

body
{
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	bottom: 0;
	background: #121212;
	overflow-x: hidden;
}

.main
{
	width: auto;
}

/* intro */
.intro
{
	border-radius: 5px;
	display: flex;
	position: relative;
	width: auto;
	background: linear-gradient(56deg, rgba(0,117,255,1) 20%, rgb(255 0 215) 100%);
	padding: 50px;
	height: 92vh;
}

.intro_div
{
	display: inline-block;
	padding-top: 17vh;
}

.intro_h1
{
	font-size: -webkit-xxx-large;
	transform: translate(0);
	animation: fadeIn 2s forwards;
	animation-delay: 0.1s;
	color: #ffffff;
	margin: 0;
	color: white;
	padding-top: 0px;
	font-size: 6vh;
	position: absolute;
	background-attachment: fixed;
	opacity: 0;
	transform: translate(0);
	animation: fadeIn 2s forwards;
	animation-delay: 0.1s;
	margin-left: 30px;
}
.intro_h2
{
	color: white;
	position: absolute;
	transform: translatey(10vh);
	opacity: 0;
	animation: fadeIn 2s forwards;
	animation-delay: 0.3s;
	font-size: 3vh;
	max-width: 116vh;
	margin-left: 30px;
	animation: slideUp 4s forwards;
}

.underline
{
	text-decoration: underline;
	color: white;
}

.underline_box
{
	text-decoration: underline;
}



.liens_pres{
	font-size: small;
	color: #4b4b4b;
	text-decoration: none;
	cursor: pointer;
}

.liens_pres:hover{
	color: #6e6e6e;
}

/* paragraphe intro du site INTRO_P */

@keyframes slideUp
{
	from
	{
		transform: translateY(15vh);
	}

	to
	{
		transform: translateY(10vh);
		opacity: 1;
	}
}

@keyframes fadeIn
{
	to
	{
		opacity: 1;
	}
}

@media screen and (max-width: 100px)
{
	body
	{
		background-attachment: scroll;
	}
}

/* --- scroll bar + auto defielment --- */
::-webkit-scrollbar
{
	width: 10px;
}

::-webkit-scrollbar-track
{
	background: #101010;
}

::-webkit-scrollbar-thumb
{
	background: #272828;
	border-radius: 5px;
}

html
{
	scroll-behavior: smooth;
}

/* ---page de chargement--- */
.loader
{
	border: 16px solid #f3f3f3;
	border-top: 16px solid #3498db;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

hr
{
	color: transparent;
	/* border-color: transparent; */
}

/* header */
header
{
	z-index: 9999;
	box-shadow: 0px 9px 20px 0px #00000073;
	background: #1e1e1e;
	border-bottom-left-radius: 5px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	padding: 3vh;
}

#nav-logo
{
	text-decoration: none;
	color: #ffffff;
	margin: 0;
	padding: 0;
	border: none;
}

#nav-logoP
{
	color: #fff;
	text-decoration: none;
	padding: 0px;
	pointer-events: none;
	margin: 0;
}

#logo-a:hover
{
	transform: scale(1.09);
	transition: transform 0.4s ease;
}

#nav_bouton:hover
{
	background-color: #83848647;
}

#PRESENTATION_h1
{
	color: white;
	position: relative;
	font-size: xx-large;
	font-weight: bold;
	margin: 0;
}

#COMPETENCES_h1
{
	color: #ffffff;
	/* padding: 40px; */
	/* font-size: xx-large; */
	/* padding-bottom: 0; */
	/* padding-bottom: 0px; */
	margin: 0;
}

#MESPROJETS_h1
{
	color: #4b4b4b;
	margin-bottom: 15px;
	display: contents;
}

img[src="fond ecran"]
{
	position: fixed;
	width: auto;
}

ul
{
	margin: 0;
	list-style: none;
	color: #4b4b4b;
	padding: 15px;
	margin-right: 2px;
	transition: ease;
	display: contents;
}

/* image acceuil et texte par dessus */


h3
{
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	display: block;
	position: absolute;
}

/* bouton 'contactez-moi' du 1er paragraphe */
#bouton6
{
	background: #0069ff;
	color: white;
	border-radius: 5px;
	padding: 3.5px 5px;
	text-decoration: none;
}

#bouton6:hover
{
	background-color: #6b7a8f;
}

nav ul
{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

nav li
{
	display: inline-block;
	margin-right: 20px;
}

nav li:hover
{
	transform: scale(1.09);
	transition: transform 0.4s ease;
}

#nav-bar a
{
	color: white;
	text-decoration: none;
	background-color: #868b9217;
	padding: 20px;
	border-radius: 15px;
	font-size: 1.5VH;
}

													/* box 1 (a propos) */
.box
{
	background: #1e1e1e;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	transition: transform 0.4s ease;
	margin-left: 35vh;
	margin-right: 35vh;
	margin-top: 60px;
	padding: 5vh;
	width: auto;
}

main .box:hover
{
	transform: scale(1.02);
}

main .box2:hover
{
	transform: scale(1.02);
}

main .box3:hover
{
	transform: scale(1.01);
}

main .box4:hover
{
	transform: scale(1.02);
}

main .box img
{
	height: auto;
	width: 100%;
}

main .box .content
{
	color: #ffffff;
	display: inline-block;
	width: auto;
}

main .box h3
{
	margin-top: 0;
}

main .box p
{
	margin-bottom: 0;
	font-size: large;
	margin-top: 20px;
}

													/* box 2 (comptences) */
.box2
{
	width: auto;
	color: white;
	background: #1e1e1e;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	display: -webkit-inline-box;
	margin-left: 35vh;
	margin-right: 35vh;
	margin-top: 60px;
	padding: 5vh;
	transition: transform 0.4s ease;
}

/* bares comptenteces */
.bouton_bares
{
	display: block;
	width: 45%;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #0069ff;
	color: white;
	border: none;
	margin-left: 0px;
	margin-top: 10px;
	border-radius: 5px;
}

.compet_p{
	text-decoration: underline;
}




.barres-pourcentage
{
	/* padding: 5vh; */
	/* padding-top: 0px; */
	width: -webkit-fill-available;
}

.my-progress-bar
{
	height: 2vh;
	background-color: #ffffff05;
	border-radius: 5px;
	margin-bottom: 9px;
	width: -webkit-fill-available;
	display: flex;
}

.progress
{
	height: 100%;
	border-radius: 5px;
	background: linear-gradient(94deg, rgba(128,180,255,1) 0%, rgba(27,121,255,1) 50%, rgba(27,121,255,1) 100%);
	animation-name: slideIn;
	animation-duration: 2s;
}

@keyframes slideIn
{
	from
	{
		width: 0%;
	}

	to
	{
		width: 100%;
	}
}

.desktop-img
{
	border-radius: 45px;
	height: 52vh;
	padding: 40px;
	margin-top: 0px;
}

.w3-light-grey
{
	background-color: #00000029;
	border-radius: 5px;
}



main .box2 h3
{
	margin-top: 0;
}

main .box2 p
{
	margin-bottom: 0;
	/* font-size: large; */
	padding: 0;
	margin: 0;
	display: contents;
}

.projet-box1
{
	padding: 20px;
	padding-bottom: 5%;
	background-color: #f2f2f2;
	width: auto;
	margin-top:30px;
	border-radius:5px;
	margin-left: 0px;
}

.projet-box2
{
	margin-top: 105px;
	background-color: #f2f2f2;
	width: 100%;
	box-shadow:0 0 10px rgba(0,0,0,0.2);
	display:flex;
	border-radius:5px;
}

													/* box 3 (projets) */
.box3
{
	background: #1e1e1e;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	transition: transform 0.4s ease;
	margin-left: 35vh;
	margin-right: 35vh;
	margin-top: 60px;
	padding: 5vh;
	width: auto;
}


.h2_box3
{
	color: #fff;
	margin-top: 2.5vh;
	transform: translateX(0%);
	font-size: 14px;
	display: list-item;
	margin-left: 2vh;
}
.grid-block
{
	display: inline-flex;
	justify-content: space-between;
}

.tile-link
{
	display: block;
	text-decoration: none;
	padding: 3vh;
	background-color:  #868b9207;
	margin: 1.5vh;
	border-radius: 2px;
}


.projet_p {
	padding-top: 3vh;
	text-decoration: none;
	color: white;
	font-size: large;
	transition: .4s;
}

.tile-link:hover .tile-img {
	filter: none;
	opacity: 2;
	transition: .4s;
	transform: scale(1.05);

}

.tile-link:hover .projet_p {
	opacity: 1;
	transition: .4s;
}

.tile-link:hover {

	opacity: 1;
	box-shadow: 0px 0px 0px 1px rgb(29, 29, 29);
	border-radius: 2px;
	background-color:   #868b9210;
}


.tile-img
{
	width: 90%;
	transition-property: opacity;
	transition-duration: 0.3s;
	opacity: 0.09;
	filter: blur(1.5px);
	border-radius: 2px;
	margin-left: 0.5rem;
	
}



/* nous contacter  */

#email{
	width: auto;
	height: 3.5vh;
	border-radius: 5px;
	border: none;
	outline: none;
	margin-right: 75vh;
}

#message
{
	resize: none;
	height: 15vh;
	font-family: sans-serif;
	border-radius: 5px;
	outline: none;
	margin: 1vh;
	margin-left: 0;
	width: -webkit-fill-available;
}



.contact-form label
{
	display: block;
	margin-bottom: 10px;
	color: #ffffff;
	padding-block: 5px;
	margin-top: 10px;
}

.contact-form input, .contact-form textarea
{
	width: 40vh;
	padding: 6px;
	border-radius: 5px;
	justify-content: space-between;
	border: 0;
	outline: none;
}



.hr_titre
{
	width: auto;
	padding: 2px;
	background-color: #ffffff;
	border: white;
	border-radius: 5px;
}

.contact-form button
{
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #0069ff;
	color: white;
	border: none;
	margin-left: 0px;
	border-radius: 5px;
	margin-top: 1vh;
	margin-bottom: 1vh;
	transform: translateY(2vh);
}

.contact-form button:hover
{
	background-color: #6b7a8f;
}

.map-box
{
	display: inline;
}

.form_contact
{
    /* display: inline-flex; */
    justify-content: space-between;
    margin-top: 2vh;
}

.google-map
{
	width: 100%;
	padding-block: 0px;
	margin: 0;
	padding: 0;
	z-index: 1;
}

													/* box 4 (contatcs) */

.box4
{
    width: auto;
    color: white;
    background: #1e1e1e;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: -webkit-inline-box;
    margin-left: 35vh;
    margin-right: 35vh;
    margin-top: 60px;
    padding: 5vh;
    transition: transform 0.4s ease;
}

.contact_h1
{
	font-size: xx-large;
	font-weight: bold;
	margin: 0;
}

.e-mail_box4{
	padding-bottom: 2vh;
	width: 100vh;
	position: absolute;
}

.message_box4{
	width: 100vh;
	position: absolute;
	transform: translateY(4vh);
	margin: 0;
	padding: 0;
}

.contact-form::selection
{
	border: 0;
}

.map-box
{
	padding: 40px;
	z-index: 1;
}

.google-map
{
	position: relative;
	padding-bottom: 54%;
	border-radius: 5px;
	height: 0px;
	width: 100%;
}

.google-map iframe
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 108%;
	padding-top: 40px;
	border:0;
}

.iframe
{
	border: 0;
	margin-top: 2vh;
	margin-bottom: 0vh;
	margin-right: 1vh;

	border: 0;
	width: -webkit-fill-available;
	display: flex;
	height: 20vh;
	border-radius: 5px;
}

/* FOOTER */
.images_footer
{
	display: flex;
	margin: 0;
	padding: 0;
	width: 80vh;
	/* transform: translateX(50%); */
	margin-left: 43%;
	overflow-x: hidden;
}

.img_footer1
{
	width: 10%;
}

.img_footer2
{
	width: 13%;
	margin: 0;
	padding: 0;
}

.img_footer3
{
	width: 10%;
	background-color: white;
}

#mail
{
	margin-left: 15px;
	width: 20%;
	padding: 10px 20px;
	box-sizing: border-box;
	border-radius: 5px;
}


.footer-clean
{
	width: auto;
	bottom: AUTO;
	margin-bottom: 0;
	margin-top: 40px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-right: 15px;
	background: #1e1e1e;
	color: white;
}

.footer-clean .services_h3,.footer-clean .about_h3,.footer-clean .careers_h3
{
	margin-top: 0;
	font-weight: bold;
	font-size: 16px;
	color: #343434;
}

.footer-clean ul
{
	list-style: none;
	padding-left: 0;
	display: flex;
	color: white;
}

.footer-clean ul li
{
	margin-left: 15px;
	padding-bottom: 10px;
	font-weight: bold;
	color: white;
}

.footer-clean ul li a
{
	color: white;
	text-decoration: none;
	opacity: 0.8;
}

.footer-clean ul li a:hover
{
	opacity: 1;
}

.copy_footer{

/* transform: translateX(80vh); */

margin-left: 42%;

margin-bottom: 0;
}
.socials_links
{
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	display:flex;
	justify-content:center;
	align-items:center}

element.style
{
	position: absolute;
	transform: translate(90%);
}

.ccareers_h3
{
	position: absolute;
	transform: translate(35%);
	text-decoration: underline;
	color: white;
	background: #10101000;
}

.footer-clean p.PORTFOLIO_copy_right
{
	left: 40%;
}

.footer_span
{
	display: grid;
	padding: 0.3vh;
}

@media (max-width:600px)
{
	.footer-clean .item
	{
		text-align: center;
		padding-bottom: 20px;
	}
}

/* petit texte 'faites defiler ' */
@keyframes jump
{
	0%
	{
		transform: translateY(0);

	}

	50%
	{
		transform: translateY(-20px);
;
	}

	100%
	{
		transform: translateY(0);

	}
}

/* @keyframes disappear
{
	5%
	{
		opacity: 1;
	}

	50%
	{
		opacity: 0.5;
	}

	100%
	{
		opacity: 0;
		transform: translateY(0px);
	}
} */

.scroll-down.disappear
{
	animation: disappear 2s forwards;
}

.scroll-down:hover
{
	transform: scale(1.2);
	transition: transform 0.4s ease;
}

.scroll-down
{
	position: absolute;
	transform: translate(vh);
	left: 50%;
	top: 90vh;
	animation: jump 0.8s linear 2;
	z-index: 9;
}

@media only screen and (max-width: 1700px)
{
	/* For mobile phones: */
	[class*="col-"]
	{
		width: 100%;
	}

	main .box img
	{
		display: none;
	}

	.intro
	{
		border-radius: 5px;
		display: flex;
		position: relative;
		background: linear-gradient(56deg, rgba(0,117,255,1) 20%, rgb(255 0 215) 100%);
		width: auto;
		padding-left: 1vh;
		font-size: -webkit-xxx-large;
	}

		.intro_h1
		{
			color: white;
			padding-top: 0px;
			font-size: 6vh;
			position: absolute;
			background-attachment: fixed;
			opacity: 0;
			transform: translate(0);
			animation: fadeIn 2s forwards;
			animation-delay: 0.1s;
			margin-left: 30px;
		}

		.intro_h2
		{
			color: white;
			position: absolute;
			transform: translatey(10vh);
			opacity: 0;
			animation: fadeIn 2s forwards;
			animation-delay: 0.3s;
			font-size: 4vh;
			max-width: 116vh;
			margin-left: 30px;
			animation: slideUp 4s forwards;
		}

		.intro_p
		{
			color: white;
			transform: translateY(55vh);
			max-width: 95%;
			opacity: 0;
			animation: slideUp 4s forwards;
		}

	main .box
	{
		background: #1e1e1e;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0,0,0,0.2);
		transition: transform 0.4s ease;
		margin-left: 35vh;
		margin-right: 35vh;
		margin-top: 60px;
		width: auto;
	}

		main .box .content
		{
			color: white;
			display: inline-block;
			width: auto;
			max-width: 100%;
		}

		main .box img
		{
			display: none;
		}

		main .box p
		{
			margin-bottom: 0;
			font-size: large;
			margin-top: 20px;
			width: auto;
		}

	main .box2
	{
		background: #1e1e1e;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0,0,0,0.2);
		transition: transform 0.4s ease;
		margin-left: 35vh;
		margin-right: 35vh;
		margin-top: 60px;
		width: auto;
	}

		.desktop-img
		{
			display: none;
		}

		.my-progress-bar
		{
		}

	.box3
	{
		background: #1e1e1e;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0,0,0,0.2);
		transition: transform 0.4s ease;
		margin-left: 35vh;
		margin-right: 35vh;
		margin-top: 60px;
		width: auto;
	}

		#contact
		{
		background: #1e1e1e;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0,0,0,0.2);
		transition: transform 0.4s ease;
		margin-left: 35vh;
		margin-right: 35vh;
		margin-top: 60px;
		width: auto;
		}

		.contact-form
		{
			float: left;
			width: 100%;
			color: ghostwhite;
		}






}

